
*.jpg
data/generated_images/train/.DS_Store
data/generated_images/val/.DS_Store
data/generated_images/annotations/.DS_Store
data/generated_images/.DS_Store
*.json
.DS_Store
*.pyc
data
*/.gitkeep
data/dataset/annotations/.gitkeep
data/dataset/.gitkeep
data/annotations/.gitkeep
